<!DOCTYPE html>
<html lang="en">

<head>
	<title>Falhub Ücretsiz Kahve Falı</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Falhub - Astrologi ve Fal, Kahve falı, Tarot falı, günlük, haftalık, aylık ve yıllık burç yorumları.">
	<meta name="author" content="Mahmut Can Uzlas">
	<!-- og -->
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://www.falhub.com/logo.png">
	<meta property="og:url" content="https://www.falhub.com/">
	<meta property="og:title" content="Kahve Falı, Tarot Falı, Burç Yorumları | Falhub">
	<meta property="og:site_name" content="Kahve Falı, Tarot Falı, Burç Yorumları | Falhub">
	<meta property="og:description"
	content="Falhub - Astrologi ve Fal, Kahve falı, Tarot falı, günlük, haftalık, aylık ve yıllık burç yorumları.">
	<!-- og/ -->
	<meta name="theme-color" content="#BB86CC">
	<link rel="apple-touch-icon" sizes="57x57" href="/home/assets/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/home/assets/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/home/assets/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/home/assets/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/home/assets/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/home/assets/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/home/assets/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/home/assets/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/home/assets/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/home/assets/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/home/assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/home/assets/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/home/assets/icons/favicon-16x16.png">
	<link rel="manifest" href="home/assets/icons//manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/home/assets/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Nunito:400,600,700" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="/home/assets/fontawesome/js/all.min.js"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="/home/assets/plugins/flickity/flickity.min.css">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="/home/assets/css/theme.css">

</head>

<body style="background-color: black;">
	<header class="header">

		<div class="branding">

			<div class="container position-relative">

				<nav class="navbar navbar-expand-lg">
					<h1 style="background-color: black; border-radius: 10px;" class="site-logo"><a class="navbar-brand"
							href="/"><img class="logo-icon" src="logo.png" alt="logo"></a></h1>

					<!-- // Free Version ONLY -->
					<ul class="social-list list-inline mb-0 position-absolute">
						<li class="list-inline-item"><a class="text-dark" target="_blank"
								href="https://twitter.com/canuzlas/"><i style="color: white;"
									class="fab fa-twitter fa-fw"></i></a></li>
						<li class="list-inline-item"><a class="text-dark" target="_blank"
								href="https://www.instagram.com/mahmutcanuzlas/"><i style="color: white;"
									class="fab fa-instagram fa-fw"></i></a></li>
					</ul>
					<!--//social-list-->
				</nav>
			</div>
			<!--//container-->
		</div>
		<!--//branding-->
	</header>
	<!--//header-->


	<section class="hero-section">
		<div class="container">
			<div class="row figure-holder">
				<div class="col-12 col-md-6 pt-3 pt-md-4">
					<h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">Ücretsiz kahve falından tut, günlük burç
						yorumuna kadar herşey bu uygulamada.</h2>
					<div class="site-tagline mb-3">Şimdi ücretsiz indir. Sende <span
							style="color:#BB86CC ;">Fal</span><span style="color:white ;">hub</span> ailesinin bir
						parçası ol.</div>
					<div class="cta-btns">
						<ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
							<!-- <li class="list-inline-item me-3"><a href="#"><img class="ios" src="/home/assets/images/appstore-apple.svg" alt="app-store"></a></li> -->
							<li class="list-inline-item"><a href="https://play.google.com/store/apps/details?id=com.falhubproject"><img class="android"
										src="/home/assets/images/appstore-android.svg" alt="google play"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--//row-->
		</div>
	</section>
	<!--//hero-section-->
	<section class="benefits-section py-5">

		<div class="container py-lg-5">
			<h3 class="mb-5 text-center font-weight-bold"> <span style="color:#BB86CC ;">Fal</span><span
					style="color:white ;">hub</span> Uygulamasının Teknik Özellikeri</h3>
			<div class="row">
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="/home/assets/images/icon-target.svg" alt="" />
						<h5>Kullanıcı Deneyimi</h5>
						<div>Sizlere daha iyi hizmet verebilmek adına UX tekniklerimizi her zaman ilerletiyoruz.</div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="/home/assets/images/icon-rocket.svg" alt="" />
						<h5>Geri Dönüş</h5>
						<div>Uygulamanın olumsuz yanlarını sizlerden gelen geri dönüşlerle sizin isteğiniz doğrultusunda
							düzeltiyoruz.</div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="/home/assets/images/icon-cogs.svg" alt="" />
						<h5>Kolay Kullanım</h5>
						<div>Tüm kitleler kolaylıkla erişim yapabilsin diye uygulamayı her zaman sade ve kullanışlı
							tutmaya özen gösteriyoruz.</div>
					</div>
					<!--//item-inner-->
				</div>
				<!--//item-->
			</div>
			<!--//row-->
		</div>

	</section>
	<!--//benefits-section-->

	<section style="background-color: black;" class="cta-section py-5 theme-bg-secondary text-center">
		<div class="container">
			<h3 class="text-white font-weight-bold mb-3"><span style="color:#BB86CC ;">Fal</span><span
					style="color:white ;">hub</span> üyesi olmaya hazır mısın ?</h3>
			<div class="text-white mx-auto single-col-max-width section-intro">Sana özel ücretsiz fal yorumlarını ve
				günlük, haftalık, aylık, yıllık yorumlanan burç yorumlarını kaçırma.</div>
		</div>
	</section>
	<!--//cta-section-->

	<footer style="background-color: black;" class="footer theme-bg-primary">

		<div class="download-area py-4">
			<div class="container text-center">
				<h3 style="color: white;" class="mb-3">Uygulamayı İndir</h3>
				<div class="section-intro mb-4 single-col-max-width mx-auto">Uygulamayı şimdi ücretsiz indirip,
					fırsatlardan yararlan.</div>
				<ul class="app-stores list-unstyled list-inline mx-auto  d-inline-block">
					<!-- <li class="list-inline-item me-3"><a href="#"><img class="ios" src="assets/images/appstore-apple.svg" alt="app-store"></a></li> -->
					<li class="list-inline-item"><a href="https://play.google.com/store/apps/details?id=com.falhubproject"><img class="android"
								src="/home/assets/images/appstore-android.svg" alt="google play"></a></li>
				</ul>
			</div>
			<!--//container-->
		</div>
		<!--//download-area-->
		<div class="footer-bottom text-center pb-5">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">&copy; 2022 Falhub. Tüm Hakları Saklıdır.</small>
		</div>

	</footer>



	<!-- Javascript -->
	<script type="text/javascript" src="/home/assets/plugins/popper.min.js"></script>
	<script type="text/javascript" src="/home/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/home/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="/home/assets/js/main.js"></script>
	<script src="/home/assets/snowstorm.js" type="text/javascript"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script>window.addEventListener("load", function () { window.wpcc.init({ "corners": "large", "colors": { "popup": { "background": "#222222", "text": "#ffffff", "border": "#fde296" }, "button": { "background": "#fde296", "text": "#000000" } }, "position": "bottom", "content": { "message": "İnternet sitemizin verimli çalışmasını sağlamak için teknik çerezler kullanılmaktadır. Çerezler hakkında detaylı bilgi almak için", "link": "Tıkla", "button": "Anladım!", "href": "http://localhost:3000/policy" } }) });</script>

</body>

</html>